<div class="photoGallery">
  <header>Photo Gallery</header>
  <main>
    <div class="photoGrid">
      <div class="gallery-item w-2">
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?mountain" alt="mountain" style="width: 100%;">
        </div>
      </div>
      <div class="gallery-item w-2 h-2">
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?nature" alt="nature" style="width: 100%;">
        </div>
      </div>
      <div class="gallery-item w-2">
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?travel" alt="travel" style="width: 100%;">
        </div>
      </div>
      <div class="gallery-item w-2">
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?discover" alt="discover" style="width: 100%;">
        </div>
      </div>
      <div class="gallery-item w-2">
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?ocean" alt="ocean" style="width: 100%;">
        </div>
      </div>
      <div class="gallery-item w-2">
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?life" alt="life" style="width: 100%;">
        </div>
      </div>
      <div class="gallery-item w-2">
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?fruits" alt="life" style="width: 100%;">
        </div>
      </div>
      <div class="gallery-item w-2 h-3">
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?forest" alt="forest" style="width: 100%;">
        </div>
      </div>
      <div class="gallery-item w-2">
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?animals" alt="animal" style="width: 100%;">
        </div>
      </div>
      <div class="gallery-item w-2">
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?heaven" alt="heaven" style="width: 100%;">
        </div>
      </div>
    </div>
  </main>
  <footer>Made with &#10084;&#65039; by Frank</footer>
</div>